.root {
  margin: 32px auto 32px;
  padding: 24px;

  width: 800px;
  max-width: 90%;
  background-color: #f0f0f0;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 180px;
  grid-gap: 32px;
}
